@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: turquoise;
    font-family: "Open Sans", sans-serif;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.grid-container{
    display: grid;
    width: 20vw;
    margin: 50px auto;
    height: 50vh;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 5px;
    
}

.item{
    padding: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.item0{
    grid-column: 1 / span 2;
}

.input{
    grid-column: 1 / span 4;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
}